@media screen and (max-width: 1280px)
{
    header nav 
    {
        width: 60%;
    }
    #section2
    {
        flex-direction: column-reverse;
    }
    #hebergements-a-marseille
    {
        width: 100%;
    }
    .item-hebergement
    {
        width: 330px;
    }
    .carte-image1
    {
        height: 170px;
    }
    .carte-image2
    {
        width: 130px;
        height: 140px;
    }
    #les-plus-populaires
    {
        width: 100%;
        margin: 0 0 20px 0;
    }
    #conteneur1
    {
        justify-content: space-around;
    }
    #conteneur2
    {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .item-populaires
    {
        width: 330px;
        height: 140px;
        margin-bottom: 20px;
    }
    #conteneur3
    {
        flex-wrap: wrap;
    }
    #conteneur3img2 
    {
        width: 300px;
        height: 400px;
        object-fit: cover;
    }
    #conteneur3img3 
    {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
    #conteneur3img5 
    {
        width: 300px;
        height: 200px;
        object-fit: cover;
    }
}
@media screen and (min-width: 1280px) and (max-width: 1320px)
{
    #les-plus-populaires
    {
        height: 620px;
    }
    #conteneur2
    {
        height: 520px;
    }
    .item-hebergement
    {
        width: 300px;
    }
    .carte-image1
    {
        height: 150px;
    }
}
@media screen and (max-width: 600px)
{
    #bloc-page, #les-plus-populaires, #hebergements-a-marseille
    {
        width: 100%;
        align-items:center;
    }
    header
    {
        width: 90%;
        justify-content: space-between;
    }
    #logo
    {
        padding-left: 20px;
    }
    #section1
    {
        width: 90%;
        margin: auto;
    }
    header nav 
    {
        width: 50px;
    }
    nav ul
    {
        margin: 20px 0 0 0;
        padding: 0px;
    }
    #nav-mobile
    {
        width: 100%;
        display : flex;
    }
    #nav-mobile ul
    {
        width: 100%;
        padding: 0;
    }  
    #nav-mobile a
    {
        width: 50%;
        padding: 0px 20px 10px 20px;
    }  
    .menu-hebergement-mobile
    {
        padding-bottom: 10px;
        width: 50%;
    }
    #nav-hebergement-mobile, #nav-activites-mobile
    {
        width: 50%;
        height: 30px;
        border-bottom: #F2F2F2 3px solid;
        text-align: center;
    }
    nav li:hover
    {
        border-top: none
    }
    #nav-hebergement-mobile:hover, #nav-activites-mobile:hover
    {
        border-bottom: #0065FC 3px solid;
    }
    nav a
    {
        margin: 0px;
    }
    #rechercher-version-mobile
    {
        display: inline;
        background: #0065FC;
        border-radius: 10px;
        padding: 10px 15px 10px 15px;
        border: none;
        color: #ffffff;
        font-weight : bold;
        transform : translateX(-15%)
    }
    #rechercher
    {
        display: none;
    }
    /* ---------------------------------section 2 et 3  ------------------------------------ */
    
    #hebergements-a-marseille
    {
        width: 100%;
        justify-content: space-around;
        background: none;
    }
    #conteneur1
    {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    #conteneur1 img 
    {
        transform: translateY(-40%);
    }
    #les-plus-populaires
    {
        width: 100%;
        border-radius: 0px; /* angles arrondis */
        height: 600px;
    }
    #conteneur2
    {
        width: 100%;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 500px;
    }
    #conteneur2 a, #conteneur1 a
    {
        width: 100%;
    }
    .item-populaires
    {
        width: 90%;
        margin: auto;
    }
    .carte-image2
    {
        width: 40%;
        height: 140px;
    }

    #conteneur3
    {
        width: 100%;
        align-items: center;
    }
    .menu-hebergement, .menu-activités
    {
        display: none;
    }
    .carte-image1, .carte-image3
    {
        height: 130px;
    }
    .item-hebergement
    {
        width: 90%;
        height: auto;
        margin: auto;
        margin-bottom: 15px;
    }
    .item-activites
    {
        width: 90%;
        height: 190px;
        margin: auto;
        margin-bottom: 15px;
    }
    .contenu-item-hebergement
    {
        line-height: 0.8;
    }
    .item-populaires
    {
        height: 140px;
    }
    .afficher-plus
    {
        margin: 0;
    }
    #section3
    {
        flex-direction: row;
    }
    #section3 h2, #section2 h2
    {
        padding : 10px 10px 10px 20px;
    }
    #section2 h2
    {
        margin-bottom: 20px;
    }

    #conteneur3 img 
    {
        width: 100%;
        height: 180px;
        object-fit: cover;
    }
    #conteneur3img4
    {
        width: 100%;
        height: auto;
        transform: translateY(-28%);
    }
    #conteneur3img6
    {
        width: 100%;
        height: auto;
        transform: translateY(-25%);
    } 
    #conteneurA, #conteneurB
    {
        width: 100%;
        align-items: center;
    }
    /* ------------------------------------footer-------------------------------------- */
    footer
    {
        flex-direction: column;
        margin: 0;
    }
    .item-footer
    {
        width: 85%;
        margin: 0px 0 0px 20px;
        flex-wrap: wrap;
    }
    .item-footer li
    {
        padding: 0 0 5px 0;
    }
}


@media screen and (max-width: 390px)
{
    #conteneur2img3
    {
        transform: scale(1.5);
    }
}