

body
{
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 1em;
    width: 100%;
    margin: 0;
}
#bloc-page
{
    width: 95%;
    margin: auto;
}

a, a:hover, a:visited, a:active /* pour enlever la mise en forme des liens */
{
	
    text-decoration:none;
    
}

/* -----------------------------------------header---------------------------------------- */
header
{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
#logo
{
    width: 100px;
    
}
ul 
{
    list-style-type: none; /* pour enlever les puces */

}
nav a
{
    margin: 50px;
}

nav ul
{
    display: flex;
}

nav li
{
    margin-top: 20px;
}
.bleu 
{
    color: #0065FC;
    
}





/* ---------------------------------section 1 : Recherche---------------------------------- */

#section1
{
    width: 100%;
    
}

.fa-map-marker-alt
{
    width: 10px;
    background: #F2F2F2;  
    padding: 12px;
    border-radius: 10px 0px 0px 10px;
}
#search
{
    padding: 10px;
    height: 35px;
    border: #F2F2F2 solid 1px;
    box-shadow: none;
    font-weight : bold;
    }
#rechercher
{
    background: #0065FC;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    border: none;
    color: #ffffff;
    font-weight : bold;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    color: #0065FC;
    background: #DEEBFF;
    font-size: 1.3em;
    padding: 15px;
    border-radius: 50%;
}
.fa-info
{
    color: #0065FC;
    border-radius: 50%;
    border: solid #F2F2F2 1px;
    padding: 10px;
    margin-right: 10px;
}
.filtre
{
    position: relative;
    border: solid 3px #F2F2F2;
    border-radius: 30px;
    margin-right: 20px;
}    

#section-filtre h4
{
    font-size: 1.3em;
    font-weight : bold;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filtre .fas
{
    position : absolute;
    top: 50%;
    transform: translate(-5%, -50%);
}

.filtre-type
{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filtre:hover
{
    border: solid 3px #DEEBFF;
    background: #DEEBFF;
    
}
#section-filtre
{
    display: flex;
}

/* ---------------------------------section 2 : Hébergements---------------------------------- */

#section2
{
    width: 100%;
    display: flex;    
}

#hebergements-a-marseille
{
    width: 60%; /* largeur */
    border-radius: 20px; /* angles arrondis */
    background: #F2F2F2;  
    justify-content: center;
    padding-bottom: 20px;
    flex-wrap: wrap;
}
#hebergements-a-marseille h2
{
    margin-bottom: 0px;
    padding : 10px 10px 10px 22px;
}
#conteneur1
{
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap; /* pour que les bloc aillent à la ligne quand ils n'ont plus de place */
    justify-content: center;
}
.item-hebergement
{
    background: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: auto;
    margin: 10px 15px 15px 15px;
    padding: 5px;
}
.item-hebergement .fa-star
{
    margin-bottom: 5px;
}
.contenu-item-hebergement
{
    margin-left: 10px;
    
}
#conteneur1 img
{
    
    width: 100%;
    border-radius: 20px 20px 0px 0px    
}
.carte-image1
{
    
    width: 100%;
    height: 160px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    
}

.header-les-plus-populaires
{
    position: relative;
}
.fa-chart-line
{
    position: absolute;
    top : 10px;
    right : 20px;
}
#les-plus-populaires
{
    width: 550px;
    border-radius: 20px; /* angles arrondis */
    background: #F2F2F2;  
    justify-content: center;
    flex-wrap: wrap;  
    margin-left: 50px;
}
#les-plus-populaires h2, .afficher-plus
{
    margin-bottom: 0px;
    padding : 10px 10px 10px 22px;
    
}
.item-populaires
{
    background: #ffffff;
    border-radius: 20px;
    width: 450px;
    height: 180px;
    margin: 10px 15px 15px 15px;
    padding: 5px;
    position: relative;
    
}
.item-populaires .fa-star
{
    margin-top: 15px;
}
#conteneur2
{
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.carte-image2
{
    
    width: 40%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
}

.contenu-item-populaire
{
    position: absolute;
    z-index: 3;
    width: 50%;
    top: 5px;
    right: 10px;    
}

#conteneur2 img
{
    height: 100%; 
    border-radius: 20px 0px 0px 20px;    
}
#image3
{
    width: 100%;
}
.star-blue
{
    color: #0065FC;
}
.star-grey
{
    color: #F2F2F2;
}
.fa-chart-line
{
    font-size: 1.8em;
}
/* ---------------------------------section 3 : Activités---------------------------------- */

#section3
{
    width: 100%;
}
#conteneur3
{
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}
.item-activites
{
    border-radius: 20px;
    width: 320px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);
    position: relative;
}

.item-activites h3
{
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 20px 20px 0px 20px;
    background: white;
}
.carte-image3
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 90%;
    overflow: hidden;
}

.item-activites img
{
    height: 100%;
}




/* ------------------------------------footer-------------------------------------- */
footer
{
    width: 100%;
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    justify-content: flex-start;
    
}
.item-footer
{
    width: 20%;
    margin: 50px;
    flex-wrap: wrap;
}

.item-footer ul
{
    padding: 0;
}

.item-footer li
{
    padding: 10px 0px 10px 0px;
}