

body
{
    font-family: 'Raleway', Arial, sans-serif;
    font-size: 0.8em;
}
#bloc-page
{
    width: 1300px;
    margin: auto;
}
a, a:hover, a:visited, a:active /* pour enlever la mise en forme des liens */
{
	color:#000;
	text-decoration:none;
}

/* -----------------------------------------header---------------------------------------- */
header
{
    display: flex;
}
#logo
{
    width: 50%;
    padding-right: 50%;
}
ul 
{
    list-style-type: none; /* pour enlever les puces */

}
nav a
{
    margin: 50px;
    margin-top: 100px;
}


nav ul
{
    display: flex;
    justify-content: flex-end;
}
.link-blue
{
    color: #0065FC;
}
nav li
{
    margin-top: 20px;
}





/* ---------------------------------section 1 : Recherche---------------------------------- */

.fa-map-marker-alt
{
    width: 10px;
    background: #F2F2F2;  
    padding: 12px;
    border-radius: 10px 0px 0px 10px;
}
#search
{
    padding: 10px;
    height: 35px;
    border: #F2F2F2 solid 1px;
    box-shadow: none;
    font-weight : bold;
    }
#rechercher
{
    background: #0065FC;
    border-radius: 0px 10px 10px 0px;
    padding: 10px;
    border: none;
    color: #ffffff;
    font-weight : bold;
}
.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog
{
    color: #0065FC;
    background: #DEEBFF;
    font-size: 1.3em;
    padding: 15px;
    border-radius: 50%;
}
.fa-info
{
    color: #0065FC;
    border-radius: 50%;
    border: solid #F2F2F2 1px;
    padding: 10px;
    margin-right: 10px;
}
.filtre
{
    position: relative;
    border: solid 3px #F2F2F2;
    border-radius: 30px;
    margin-right: 20px;
}    

#section-filtre h4
{
    font-size: 1.3em;
    font-weight : bold;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.filtre .fas
{
    position : absolute;
    top: 50%;
    transform: translate(-5%, -50%);
}

.filtre-type
{
    font-size: 1.2em;
    font-weight: bold;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.filtre:hover
{
    border: solid 3px #DEEBFF;
    background: #DEEBFF;
    
}
#section-filtre
{
    display: flex;
}

/* ---------------------------------section 2 : Hébergements---------------------------------- */

#section2
{
    width: 1200px;
    display: flex;
}

#hebergements-a-marseille
{
    width: 800px; /* largeur */
    border-radius: 20px; /* angles arrondis */
    background: #F2F2F2;  
    justify-content: center;
    flex-wrap: wrap;
}
#hebergements-a-marseille h2
{
    margin-bottom: 0px;
    padding : 10px 10px 10px 22px;
}
#conteneur1
{
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap; /* pour que les bloc aillent à la ligne quand ils n'ont plus de place */
    justify-content: center;
}
.item-hebergement
{
    background: #ffffff;
    border-radius: 20px;
    width: 190px;
    height: auto;
    margin: 10px;
    padding: 5px;
    
}
#conteneur1 img
{
    
    width: 100%;
    border-radius: 20px 20px 0px 0px    
}
.carte-image1
{
    
    width: 100%;
    height: 110px;
    border-radius: 20px 20px 0px 0px;
    overflow: hidden;
    
}
#les-plus-populaires
{
    width: 400px;
    border-radius: 20px; /* angles arrondis */
    background: #F2F2F2;  
    justify-content: center;
    flex-wrap: wrap;  
    margin-left: 30px;
}
#les-plus-populaires h2
{
    margin-bottom: 0px;
    padding : 10px 10px 10px 22px;
    
}
.item-populaires
{
    background: #ffffff;
    border-radius: 20px;
    width: 300px;
    height: 120px;
    margin: 10px;
    padding: 5px;
    position: relative;
    
}
#conteneur2
{
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap; /* pour que les bloc aillent à la ligne quand ils n'ont plus de place */
    justify-content: center;
}
.carte-image2
{
    
    width: 40%;
    height: 100%;
    border-radius: 10px 0px 0px 10px;
    overflow: hidden;
    position: absolute;
    z-index: 2;
}

.contenu-item-populaire
{
    position: absolute;
    z-index: 3;
    width: 50%;
    right: 5px;
}
#conteneur2 img
{
    height: 100%; 
    border-radius: 20px 0px 0px 20px;    
}
#image3
{
    width: 100%;
}
.star-blue
{
    color: #0065FC;
}
.star-grey
{
    color: #F2F2F2;
}
.fa-chart-line
{
    font-size: 1.8em;
}
/* ---------------------------------section 3 : Activités---------------------------------- */

#activites-a-marseille
{
    width: 100%;
}
#conteneur3
{
    display: flex;
    width: 100%;
    height: 400px;
}
.item-activites
{
    border-radius: 20px;
    width: 250px;
    height: 400px;
    margin: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.1);

}
.carte-image3
{
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 360px;
    overflow: hidden;
}
}
.item-activites img
{
    width: 100%;
}
.item-activites:nth-child(1)
{
    margin-left: 0px;
}



/* ------------------------------------footer-------------------------------------- */
footer
{
    background: #F2F2F2;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    padding: 20px;
}
.item-footer
{
    flex-wrap: wrap;
}